/*-------------------------------
              BASE
--------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: silver;
}

/*-------------------------------
            LAYOUT
--------------------------------*/

#container {
  margin: auto;
  max-width: 960px;
}

header {
  position: relative;
  box-shadow: 0 4px 0.3125rem rgba(25,35,45,.3);
  background-color: #333;
  color: white;
}

#lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #444;
  box-shadow: 0 4px 0.3125rem rgba(80,90,100,.3);
  opacity: 0.85;
}
#lists li {
  list-style-type: none;
  font-size: 80%;
}
#lists li a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  text-align: center;
  color: #FFF;
}
#lists li a:hover {
  background: red;
}

main {
  display: flex;
  flex-direction: column;
}
article {
  text-align: justify;
  background-color: purple;
}
aside {
  text-align: left;
  background-color: #EEE;
}
article h1,
article p,
aside h1,
aside p {
  margin-bottom: 1rem;
}

footer {
  padding: 1.5rem;
  text-align: center;
  background-color: #333;
  color:blue;
}
